<center>
    <a href="https://www.aims-senegal.org/" ><img src="aimssn_logo.png" style="float:center; max-width: 600px; display: inline" alt="IMSP"/> </a>
    </center>
    
#    <center> <b> <span style="color:orange;" >  `Python for Scientific Computing and Software Engineering ` </span> </b></center>


## <center> <b> <span style="color:orange;"> An Initiation to Programming using Python (Init2Py) </span> </b></center>

### <center> <b> <span style="color:blue;"> Practicals: Variables, Types & Operations </span> </b></center>

**Exercise 00:**  

> 1. Declare a variable `firstname` and assign it a value.
> 2. Declare a `lastname` variable and assign a value to it.
> 3. Declare a `full_name` variable and assign it a value.
> 4. Declare a `country` variable and assign it a value.
> 5. Declare a variable `city` and assign it a value.
> 6. Declare a `age` variable and assign it a value.
> 7. Declare a variable `year` and assign it a value.
> 8. Declare a variable `is_marrie` and assign it a value.
> 9. Declare a variable `is_true` and assign it a value.

> For each of the above variable, display the value it contains using the `print()` function.

In [11]:
Fatou=2
print(Fatou)
Tine=1
print(Tine)
fullname=3
print(fullname)
country=5
print(country)
Dakar=6
print(Dakar)
year=7
print(year)
ismarie=8
print(ismarie)
istrue=10
print(istrue)

2
1
3
5
6
7
8
10

**Exercise 01:** 
> Check the data type of all your variables using the built-in function `type()`.**

In [12]:
a, b, c = 1, 1, 1
>>> while c <50:
     print(c, ":", b, type(b))
     a, b, c = b, a+b, c+1

1 : 1 <class 'int'>
2 : 2 <class 'int'>
3 : 3 <class 'int'>
4 : 5 <class 'int'>
5 : 8 <class 'int'>
6 : 13 <class 'int'>
7 : 21 <class 'int'>
8 : 34 <class 'int'>
9 : 55 <class 'int'>
10 : 89 <class 'int'>
11 : 144 <class 'int'>
12 : 233 <class 'int'>
13 : 377 <class 'int'>
14 : 610 <class 'int'>
15 : 987 <class 'int'>
16 : 1597 <class 'int'>
17 : 2584 <class 'int'>
18 : 4181 <class 'int'>
19 : 6765 <class 'int'>
20 : 10946 <class 'int'>
21 : 17711 <class 'int'>
22 : 28657 <class 'int'>
23 : 46368 <class 'int'>
24 : 75025 <class 'int'>
25 : 121393 <class 'int'>
26 : 196418 <class 'int'>
27 : 317811 <class 'int'>
28 : 514229 <class 'int'>
29 : 832040 <class 'int'>
30 : 1346269 <class 'int'>
31 : 2178309 <class 'int'>
32 : 3524578 <class 'int'>
33 : 5702887 <class 'int'>
34 : 9227465 <class 'int'>
35 : 14930352 <class 'int'>
36 : 24157817 <class 'int'>
37 : 39088169 <class 'int'>
38 : 63245986 <class 'int'>
39 : 102334155 <class 'int'>
40 : 165580141 <class 'int'>
41 : 267914296 <class 'int'>
42 : 433494437 <class 'int'>
43 : 701408733 <class 'int'>
44 : 1134903170 <class 'int'>
45 : 1836311903 <class 'int'>
46 : 2971215073 <class 'int'>
47 : 4807526976 <class 'int'>
48 : 7778742049 <class 'int'>
49 : 12586269025 <class 'int'>

**Exercise 02:** 
> Calculate the value of $y$ ($y = x^2 + 6x + 9$). Try using different values of $x$ and determine at what value of $x$ will $y$ be equal to 0.**

In [26]:
def fonction(x):
    y = x + 6*x +9
    return y
fonction(2)
fonction(-5)
fonction(-3)
fonction(-0.5)

5.5

**Exercise 03:** 
>    
     1. Declare your age as an integer variable
     2. Declare your height as a float variable
     3. Declare a variable that stores the base and height of a triangle. Calculate the area of this triangle (area = 0.5 x b x h).

## *Tip: receiving input from the user *
**To receive an input from the user, we use `input()`.**.

**Example**
Receive two numbers as input from the user and calculate their power:
```python
base = input("Enter a base: ")
exponent = input("Enter an exponent: ")
result = float(base) ** float(exponent)
print(f "{base} to the power of {exponent} = {result}")
```

**Exercise 04:** 
> **Write a small code that asks the user to enter the side $a$, the side $b$ and the side $c$ of a triangle. Calculate the perimeter of the triangle (perimeter = a + b + c).**

In [27]:
a=4
b=4
c=4
perimeter = a+b+c
print(perimeter)

12

**Exercise 05:** 
> **Obtain the length and width of a rectangle using the prompt. Calculate its `area`and its `perimeter`.**

In [ ]:
largeur = float(input("veillez entrer la largeur:"))
longeur = float(input("veillez entrer la longeur:"))
S=longeur*largeur
P=(longeur+largeur)*2
print("afficher la surface du rectangle:",S)
print("afficher le perimetre du rectangle:",P)

**Exercice 06:** 
> **Obtenez le rayon d'un cercle en utilisant l'invite. Calculez l'aire (aire = pi x r x r) et la circonférence (c = 2 x pi x r) où pi = 3,14.**

In [ ]:
rayon=float(input("veillez entrer le rayon:"))
pi=3.14
c=2*pi*rayon
print("afficher l'aire du cercle:",c)

**Exercice 07:**
> **Calculez la pente, l'ordonnée à l'origine en x et l'ordonnée à l'origine en $y$ de $y = 2x -2$.**

In [ ]:
import numpy as np

x = np.linspace(0, 2, -2)
y = a * x + b
print(y)

Exercice 08:
Rédigez un script qui demande à l'utilisateur d'entrer les heures et le taux horaire. Calculez la rémunération de la personne ?

In [ ]:
#1. Définition des variables
salairebase=eval(input("Entrez le montant du salaire de base : "))
hnsemaine=eval(input("Entrez le nombre d'heures travaillées par semaine : "))
hs125=eval(input("Entrez le nombre d'heures supplémentaires effectué à 125 % : "))
hs150=eval(input("Entrez le nombre d'heures supplémentaires effectué à 150 % : "))
#2. Calcul du nombre d'heures travaillées/mois et des heures supplémentaires
hnmois=(hnsemaine*52)/12
montanthn=salairebase/hnmois
montanths125=montanthn*1.25*hs125
montanths150=montanthn*1.5*hs150
#3. Affichage des résultats
print("Nombre d'heures travaillées : ",hnmois,"H / mois")
print("Montant des H.S. à 125 % : ",montanths125,"€")
print("Montant des H.S. à 150 % : ",montanths150,"€")

**Exercice 09:** 
> **Écrivez un script qui demande à l'utilisateur d'entrer le nombre d'années. Calculez le nombre de secondes qu'une personne peut vivre. Supposons qu'une personne puisse vivre cent ans.**

**Exercice 10:** 
> **Écrivez un script Python qui affiche le tableau suivant**

    1 1 1 1 1
    
    2 1 2 4 8
    
    3 1 3 9 27
    
    4 1 4 16 64
    
    5 1 5 25 125

**Exercise 11:** 
>**Assign the variables `time` and `distance` with the values $6.892$ and $19.7$. Calculate and display the value of the speed. Improve the display by imposing a digit after the decimal point.**

**Exercice 12:** 
> **Écrire un programme qui, à partir de la saisie d’un rayon et d’une hauteur, calcule levolume d’un cône droit.**

**Exercise 13:** 
> **The user gives a positive integer and the program announces how many times in a row this integer is divisible by 2.**

**Exercise 14:** 
>**The user gives an integer between 2 and 12, the program gives the number of ways to do this by rolling two dice.

**Exercice 15:** 
> **Utilisez la fonction d'entrée intégrée `input()` pour obtenir le `_prénom_`, le `_nom_`, le `_pays_d_origine` et l'`_age_` d'un utilisateur et stockez la valeur dans les noms des variables correspondantes.**

**Exercice 16:** 

**Déclarer $5$ comme `num_one` et $4$ comme `num_two`**

   1. Additionner `num_one` et `num_two` et affecter la valeur à une variable `totale`.
   2. Soustraire `num_two` de `num_one` et affecter la valeur à une variable `diff`.
   3. Multipliez le `num_one` et le `num_two` et attribuez la valeur à une variable `produit`.
   4. Divisez le `num_one` par le `num_two` et attribuez la valeur à une variable `division`.
   5. Calculez `num_one` à la puissance de `num_two` et attribuez la valeur à une variable `exp`.

<center> <b> <span style="color:orange;"> 🎉 FÉLICITATIONS! / CONGRATULATIONS! 🎉 </span> </b></center>